__pycache__/
.idea/
.vscode/
runs/
bin/
*.png
*.csv
input/
input_*/
results/
results_*/
reconstruction/
reconstruction_*/

.vscode/
*.pyc
.DS_Store

venv/
models/
models_release/
datasets/

bioskin.egg-info/
build/
dist/
