--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
scipy
opencv-python
matplotlib
scikit-learn
scikit-image
pyqt5
qdarkstyle
tensorboard
psutil
resource
numpy
imageio
pandas
Pillow
setuptools
wheel